header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem ;
}
.company_logo{
    width: 100px;
    height: 100%;
}
.heading_text{
    padding: 10px 0 0;
    font-family: Century Gothic;
    font-size: 26px;
    /* font-weight: bold; */
}